.campaign-blue {
  background-color: #10E0E0
}

.campaign-orange {
  background-color: #F4976C
}

.customer {
  padding-top: 100px;
}

table {
  min-width: 150%;
}

.vertical {
  transform: rotate(270deg);
  margin-top: 190%;
  margin-left: -80px;
}

.wider {
  width: 18%;
}

h1 {
  font-family: Merriweather !important;
}

th, td, p {
  font-family: Montserrat;
}
